web/settings.py
web/export_to_flat.sh
web/tmpweb/tmp/
data/stats/payment_totals.txt
data/csv
*.pyc
*.swp
*~
include/
lib/
pip-log.txt
*.sqlite3
.DS_Store
.Python
.project
.pydevproject
.settings
bin/
docs/_build
whoosh/
