Django==1.4
Markdown==2.3.1
South==0.7.6
coverage==3.6
https://github.com/toastdriven/django-haystack/archive/master.zip
django-indexer==0.3.0
django-pagination==1.0.5
django-paging==0.2.4
django-piston==0.2.2
django-profiles==0.2
django-registration==0.8
django-tagging==0.3
django-templatetag-sugar==0.1
django-treebeard==1.52
feedparser==4.1
httplib2==0.8
lockfile==0.9.1
oauth2==1.5.211
pep8==0.4.2
psycopg2==2.4.6
pysolr==3.0.5
python-dateutil==2.1
requests==1.1.0
simplejson==2.0.9
six==1.2.0
smartypants==1.6.0.3
typogrify==1.0
wsgiref==0.1.2