<!DOCTYPE html>
<html lang="en">
  <head>
    {% load i18n %}
    {% load list_tags %}
    {% load cache %}
    {% load humanize %}
    {% load typogrify %}
    {% load inthenews %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{title}}{% endblock %} | FarmSubsidy.org</title>

    <meta name="description" content="FarmSubsidy shows how much money farm">
    <meta name="author" content="">

    {% block extrameta %}{% endblock %}

    <meta name="google-site-verification" content="hyG2KNMuw7MW6cT7ImXaOIJ44j9YW6PJPh0M-_4lv8U" />

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/farmsubsidy.css"/>

    <link href="{% url 'feature_feed' %}" type="application/atom+xml" rel="alternate" title="Farmsubsidy News Feed" />
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 top-area">
        <div class="row loginbar">
          <div class="pull-right">
            {% if request.user.is_authenticated %}
              Logged in as {{ request.user.username }} | <a href="{{ request.user.profile_set.all.0.get_absolute_url }}">My account</a> | <a href="{% url 'my_account:logout' %}">Sign out</a>
            {% else %}
              <a href="{% url 'my_account:login' %}">Create an Account</a> or <a href="{% url 'my_account:login' %}">sign In</a>
            {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="pull-right tagline">
            {% if sum_of_payments %}
              &euro;{{ sum_of_payments|intword }} in payments to {{ total_recipients }} recipients,
              <br/>
              including lots of fresh payments from 2013
            {% endif %}
          </div>

        </div>

        <div class="row">

          <div class="pull-right col-lg-5 search-form">
            <form action="{% url 'search' %}" method="get" accept-charset="utf-8">

              <div class="input-group">
                <input type="text" name="q" value="{{ q }}" id="q" placeholder="Enter a company name or place" class="form-control input-lg">
                <span class="input-group-btn">
                  <button class="btn btn-fs-search input-lg" type="submit">Search</button>
                </span>
              </div>
              <small class="search-examples">
                e.g. <a href="{% url 'search' %}?q=nestle">Nestle</a> or <a href="{% url 'search' %}?q=windsor">Windsor</a>
              </small>
            </form>
          </div>
        </div>
        <div class="the-cow">
          <a href="/">
            <img src="{{ STATIC_URL }}images/logo-cow.png" alt="FarmSubsidy Euro Cow"/>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="navbar navbar-fs" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <strong>FarmSubsidy</strong>.org
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="/">Home</a>
            </li>
            <li>
              <a href="{% url 'countries' %}">Countries</a>
            </li>
            {% comment %}
            <li>
              <a href="{% url 'transparency_index' %}">
                Transparency Index
              </a>
            </li>
            {% endcomment %}
            <li>
              <a href="/news/">News &amp; Reports</a>
            </li>
            <li>
              <a href="/faq/">FAQ</a>
            </li>
            <li>
              <a class="twitter" href="https://twitter.com/farmsubsidy/">
                <img src="{{ STATIC_URL }}images/twitter_logo.png" alt="Twitter Bird"/>
              </a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="row content-row">
      <div class="content col-lg-8 col-md-8">
        <div class="heading">
          <p class="breadcrumbs">
            {% block breadcrumb %}{% endblock %}
          </p>
          <h2>
            {% block page_title %}{% endblock %}
          </h2>
        </div>

        {% block error %}{% endblock %}

        {% block content %}{% endblock %}

      </div>

      <div class="sidebar col-lg-4 col-md-4">
        <div class="right">
          {% block right %}
            {% if featured_items %}
              <div class="sidebar-widget">
                <h5>Latest news</h5>
                <ul>
                  {% if featured_items.0 %}
                    <li>
                      <h5>
                        <a href="{{ featured_items.0.get_absolute_url }}">{{ featured_items.0.title }}</a>
                      </h5>
                      <p>
                        {{ featured_items.0.teaser|truncatewords:"25"|typogrify }}
                      </p>
                    </li>
                  {% endif %}
                  {% if featured_items.1 %}
                    <li>
                      <h5><a href="{{ featured_items.1.get_absolute_url }}">{{ featured_items.1.title }}</a></h5>
                      <p>{{ featured_items.1.teaser|truncatewords:"25"|typogrify }}</p>
                    </li>
                  {% endif %}
                  {% if featured_items.2 %}
                    <li>
                      <h5>
                        <a href="{{ featured_items.2.get_absolute_url }}">
                          {{ featured_items.2.title }}
                        </a>
                      </h5>
                      <p>
                        {{ featured_items.2.teaser|truncatewords:"25"|typogrify }}
                      </p>
                    </li>
                  {% endif %}
                </ul>
              </div>
            {% endif %}
            {% block right_list_view %}
              {% include "blocks/list_view.html" %}
            {% endblock right_list_view %}
          {% endblock %}
          <div class="sidebar-widget">
            <div class="text-center">
                <a href="https://openspending.org">
                    <img src="{{ STATIC_URL }}images/openspending.png" alt="OpenSpending"/>
                </a>
                <br/>
                <a href="http://journalismfund.eu/">
                    <img src="{{ STATIC_URL }}images/journalismfundeu.png" alt="JournalimFund.eu"/>
                </a>
            </div>
            <p>
                FarmSubsidy.org is a project of <a href="http://journalismfund.eu/">European Journalism Fund</a>, a non-profit organisation, and powered by <a href="https://openspending.org">OpenSpending</a> of <a href="https://okfn.org">Open Knowledge</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        {% block footer %}
          <div class="col-lg-3 col-lg-offset-1">
            <h5>Looking for more information?</h5>
            <ul class="list-unstyled">
              <li><a href="/news">News &amp; reports</a></li>
              <li><a href="/legal">Legal / Privacy Policy</a></li>
              <li><a href="/about">About us</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-lg-offset-1">
            <h5>Get in touch:</h5>
            <ul class="list-unstyled">
              <li><a href="mailto:farmsubsidy[-at-]openspending[-dot-]org">Email</a></li>
              <li>
                <a href="http://twitter.com/farmsubsidy">Twitter</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-lg-offset-1">
            <h5>Technical</h5>
            <ul class="list-unstyled">
              <li><a href="http://github.com/openspending/Farm-Subsidy">Get the code</a></li>
              <li><a href="https://github.com/openspending/farmsubsidy-scrapers">Write a scraper</a></li>
              <li><a href="http://data.farmsubsidy.org/index.html">Get the raw data</a> | 
                <a href="https://docs.google.com/spreadsheet/ccc?key=0Ajagl3TOC7X_dFlzQ0ljaUxUWVNmNE40TGdweWNlcEE&hl=en#gid=7">Spreadsheet</a></li>
              {# <li><a href="/api/">API</a></li> #}
            </ul>
          </div>
        {% endblock %}
      </div>
    </div>
  </div>

{% block analytics %}
  {% if not debug %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-33874954-17', 'openspending.org');
      ga('send', 'pageview');
    </script>
  {% endif %}
{% endblock analytics %}


{% block footer_scripts %}{% endblock %}

</body>
</html>